<!DOCTYPE html>
<html>
  <head>
    <title>Create</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form>

      <input type="text" name="name" placeholder="NAME" required>
      <input type="text" name="surname" placeholder="SURNAME" required>
      <input type="text" name="gender" placeholder="GENDER">
      <!-- <input type="text" name="age" placeholder="AGE">
      <input type="text" name="birdthDate" placeholder="DATE OF BIRTH">
      <input type="text" name="adress" placeholder="ADRESS"> -->
      <button type="submit">OK</button>
      
    </form>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
